* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 80%;
}

#screen {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: #bbbbbb;
    flex-wrap: wrap;
}

.square {
    border: 1px grey solid;
    /* flex: 1 1 calc(500px / 50); */
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: fit-content; */
    /* aspect-ratio: 1 / 1; */
    /* flex-grow: 1;
    flex-basis: 1px;
    flex-shrink: 1; */
    /* height: 1px;
    width: 1px; */
}


